<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tung.yabai-stack</string>
	<key>connections</key>
	<dict>
		<key>09927F57-5C8E-4662-B0FE-59688F59706E</key>
		<array/>
		<key>247A503E-5D55-4872-87F0-B132DC0E0339</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09927F57-5C8E-4662-B0FE-59688F59706E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B99635D-D763-436D-AAC8-61E5692A4A39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6183A970-76DB-433E-B3AF-531EB8F6A72F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6183A970-76DB-433E-B3AF-531EB8F6A72F</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Tung</string>
	<key>description</key>
	<string>Cycle windows in the current yabai stack.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Yabai Stack</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>stack-next</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09927F57-5C8E-4662-B0FE-59688F59706E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>247A503E-5D55-4872-87F0-B132DC0E0339</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>stack-prev</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6183A970-76DB-433E-B3AF-531EB8F6A72F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4B99635D-D763-436D-AAC8-61E5692A4A39</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Option-j focuses the next window in the current yabai stack. Option-k focuses the previous window.</string>
	<key>uidata</key>
	<dict>
		<key>09927F57-5C8E-4662-B0FE-59688F59706E</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>247A503E-5D55-4872-87F0-B132DC0E0339</key>
		<dict>
			<key>note</key>
			<string>Option-j</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>4B99635D-D763-436D-AAC8-61E5692A4A39</key>
		<dict>
			<key>note</key>
			<string>Option-k</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6183A970-76DB-433E-B3AF-531EB8F6A72F</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
