.DS_Store
emacs/elpa/
emacs/ido.last
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/smex-items
emacs/company-statistics-cache.el
emacs/custom.el
emacs/places
emacs/undos/
emacs/eshell/

/emacs/tramp
/emacs/.last-package-update-day
.yas-compiled-snippets.el
/emacs/history
