[user]
	name = Tung Dao
	email = me@tungdao.com
	signingkey = me@tungdao.com
[alias]
  cl = clone
  co = checkout
  st = status -sb
  ci = commit
  br = branch
  ls = log --graph --decorate --oneline
  lsh = log --oneline --stat --decorate
  conflicts = diff --name-only --diff-filter=U
  amend = commit --amend --reuse-message=HEAD
  undo = reset --soft HEAD^
  df = diff
  dfc = diff --cached
[url "git://github.com/"]
  insteadOf = gh:
[url "git@bitbucket.org:"]
  insteadOf = bb:
[url "git@bitbucket.org:/tungd/"]
  insteadOf = tungd:
[push]
  default = matching
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/tung/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/tung/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/tung/.stCommitMsg
	gpgsign = true
[gpg]
	program = gpg2
